$spaces-base: 8px / 16px * 1rem;
$spaces: (0, 1, 2, 4, 8, 16, auto);

$layers: (
  'goku': 9000,
  'default': 1,
  'limbo': -9000,
);

$breakpoints: (
  'extra-small': 0,
  'small': 500,
  'medium': 1000,
  'large': 1500,
  'extra-large': 2000,
);

$type-sizes: (
  display-1: (
    default: (
      size: 32px,
      line-height: 48px,
      weight: 700,
    ),
    small: (
      size: 48px,
    ),
  ),
  display-2: (
    size: 24px,
    line-height: 36px,
    weight: 700,
  ),
  body: (
    size: 16px,
  ),
  small: (
    size: 12px,
  ),
);

@import '../../src/framework/index';

$grid-gutters: (
  'extra-small': space(1),
  'small': space(2),
  'medium': space(2),
  'large': space(4),
  'extra-large': space(4),
);
