/*============================================================================*\
   Grid System
\*============================================================================*/

/**
 * Usage:
 *
 * ```html
 * <div class="grid">
 *  <div class="grid__row">
 *    <div class="grid__col-12--xxs grid__col-6--s grid__col-4--lg">
 *      ...
 *    </div>
 *    <div class="grid__col-12--xxs grid__col-6--s grid__col-4--lg">
 *      ...
 *    </div>
 *  </div>
 *  ```
 *
 * When nesting grid, you'll need to add the `.grid--nested` modifier to the
 * block element.
 */

// Import dependencies
@import '../framework/breakpoints';
@import '../framework/spaces';

// Local variables
$grid-columns: 12 !default;
$grid-gutters: (
  'xxs': space(2),
  'xs': space(2),
  's': space(4),
  'm': space(4),
  'l': space(4),
  'xl': space(8),
  'xxl': space(8),
) !default;
$grid-breakpoints: $breakpoints !default;

/**
 * A function helper to avoid having to type `map-get($grid-gutters, ...)`
 * Based on http://css-tricks.com/handling-z-index/
 *
 * @param  {string} $breakpoint The name of the breakpoint
 * @return {number}        The value corresponding to the breakpoint's name
 */
@function gutter($breakpoint) {
  @if not map-has-key($grid-gutters, $breakpoint) {
    @error 'No gutter found in the `$grid-gutters` map for `#{$breakpoint}`.';
    @return '';
  }

  @return map-get($grid-gutters, $breakpoint);
}

/*============================================================================*\
   Grid block
\*============================================================================*/

// Block
.grid {
  min-height: 1px;
  margin-right: auto;
  margin-left: auto;

  // Media queries
  @each $grid-breakpoint in $grid-breakpoints {
    $key: nth($grid-breakpoint, 1);

    @media #{md($key)} {
      padding-right: gutter($key) * 0.5;
      padding-left: gutter($key) * 0.5;
    }
  }
}

/* No gutter modifier
\*============================================================================*/

.grid--no-gutter {
  padding-right: 0;
  padding-left: 0;

  // Media queries
  @each $grid-breakpoint in $grid-breakpoints {
    $key: nth($grid-breakpoint, 1);

    @media #{md($key)} {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

/* Nested grid modifier
\*============================================================================*/

/**
 * Nested grid must not have left and right paddings to avoid weird alignment
 * when nesting multiple times. The nested grid is different from the
 * "no-gutter" one by only resetting the padding on the grid block, and not on
 * its row or columns.
 */
.grid--nested {
  padding-right: 0;
  padding-left: 0;

  // Media queries
  @each $grid-breakpoint in $grid-breakpoints {
    $key: nth($grid-breakpoint, 1);

    @media #{md($key)} {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

/*============================================================================*\
   Row element
\*============================================================================*/

// Element
.grid__row {
  position: relative;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  // Media queries
  @each $grid-breakpoint in $grid-breakpoints {
    $key: nth($grid-breakpoint, 1);

    @media #{md($key)} {
      margin-right: gutter($key) * -0.5;
      margin-left: gutter($key) * -0.5;

      .grid--no-gutter > & {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

/* Row flex modifiers
\*============================================================================*/

.grid__row--end,
.grid__row--center,
.grid__row--stretch {
  display: flex;
  flex-wrap: wrap;

  // Media queries
  @each $grid-breakpoint in $grid-breakpoints {
    $key: nth($grid-breakpoint, 1);

    @media #{md($key)} {
      .grid__col-left--#{$key} {
        order: 0;
      }

      .grid__col-right--#{$key} {
        order: 1;
      }
    }
  }
}

.grid__row--stretch {
  align-items: stretch;
}

.grid__row--center {
  align-items: center;
}

.grid__row--end {
  align-items: flex-end;
}

/*============================================================================*\
   Columns elements
\*============================================================================*/

[class*='grid__col-'] {
  min-height: 1px;

  .grid__row--stretch > & {
    display: flex;
    align-items: stretch;
  }

  // Media queries
  @each $grid-breakpoint in $grid-breakpoints {
    $key: nth($grid-breakpoint, 1);

    @media #{md($key)} {
      padding-right: gutter($key) * 0.5;
      padding-left: gutter($key) * 0.5;

      .grid--no-gutter > .grid__row > & {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

// Generates the columns class for each breakpoints defined
@each $grid-breakpoint in $grid-breakpoints {
  $key: nth($grid-breakpoint, 1);

  // Media queries
  @media #{md($key)} {
    [class*='grid__col-'][class*='--#{$key}'] {
      float: left;
      display: block;
    }

    .grid__col-center--#{$key} {
      float: none;
      clear: both;
      margin-right: auto;
      margin-left: auto;
    }

    .grid__col-clear--#{$key} {
      clear: both;
    }

    .grid__col-no-clear--#{$key} {
      clear: none;
    }

    .grid__col-left--#{$key} {
      float: left;
    }

    .grid__col-right--#{$key} {
      float: right;
    }

    .grid__col-0--#{$key} {
      display: none;
    }

    .grid__pull-0--#{$key},
    .grid__push-0--#{$key} {
      margin-left: 0;
    }

    // Generate all columns classes
    @for $i from 1 through $grid-columns {
      .grid__col-#{$i}--#{$key} {
        width: $i * 100% / $grid-columns;
      }

      .grid__pull-#{$i}--#{$key} {
        margin-left: $i * -100% / $grid-columns;
      }

      .grid__push-#{$i}--#{$key} {
        margin-left: $i * 100% / $grid-columns;
      }
    }
  }
}
