/*============================================================================*\
   Displays helpers
\*============================================================================*/

/*============================================================================*\
   Helper mixins
\*============================================================================*/

/**
 * A mixin to hide elements but keep them accessible
 *
 * @author Facebook Accessibility Team
 */
@mixin display-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  pointer-events: none;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*============================================================================*\
   Helper classes
\*============================================================================*/

@if $has-classes {
  .display-none {
    display: none;
  }

  .display-none--force {
    display: none !important;
  }

  .display-block {
    display: block;
  }

  .display-block--force {
    display: block !important;
  }

  .display-flex {
    display: flex;
  }

  .display-flex--force {
    display: flex !important;
  }

  .display-inline {
    display: inline;
  }

  .display-inline--force {
    display: inline !important;
  }

  .display-inline-block {
    display: inline-block;
  }

  .display-inline-block--force {
    display: inline-block !important;
  }

  .display-hidden-accessible {
    @include display-hidden-accessible();
  }

  /*==========================================================================*\
     Visibility breakpoints modifiers
  \*==========================================================================*/

  @include for-each-breakpoints using ($breakpoint) {
    .display-none--#{$breakpoint} {
      display: none;
    }

    .display-none--force-#{$breakpoint} {
      display: none !important;
    }

    .display-block--#{$breakpoint} {
      display: block;
    }

    .display-block--force-#{$breakpoint} {
      display: block !important;
    }

    .display-flex--#{$breakpoint} {
      display: flex;
    }

    .display-flex--force-#{$breakpoint} {
      display: flex !important;
    }

    .display-inline--#{$breakpoint} {
      display: inline;
    }

    .display-inline--force-#{$breakpoint} {
      display: inline !important;
    }

    .display-inline-block--#{$breakpoint} {
      display: inline-block;
    }

    .display-inline-block--force-#{$breakpoint} {
      display: inline-block !important;
    }

    .display-hidden-accessible--#{$breakpoint} {
      @include display-hidden-accessible();
    }
  }
}
