/*============================================================================*\
   Layers (z-index) definitions
\*============================================================================*/

$has-classes: false !default;

$layers: (
  'goku': 9000,
  'modal': 6000,
  'sticky': 2000,
  'menu': 300,
  'tooltip': 200,
  'dropdown': 100,
  'default': 1,
  'limbo': -999,
) !default;

/**
 * A function helper to avoid having to type `map-get($layers, ...)`
 * Based on http://css-tricks.com/handling-z-index/
 *
 * @param  {string} $layer    The name of the z-index
 * @param  {number} $modifier The modifier if needed
 * @return {number}           The corresponding z-index based on the $layers var
 */
@function layer($layer, $modifier: 0) {
  @if not map-has-key($layers, $layer) {
    @error 'No z-index found in the `$layers` map for `#{$layer}`.';
    @return 'initial';
  }

  $value: map-get($layers, $layer);
  @return $value + $modifier;
}

/**
 * Alias for the `layer($layer, $modifier)` function above
 */
@function l($layer, $modifier: 0) {
  @return layer($layer, $modifier);
}

/**
 * Deprecated alias for the `layer($layer, $modifier)` function
 */
@function z($layer, $modifier: 0) {
  /* stylelint-disable-next-line */
  @warn 'The `z($layer, $modifier)` function is deprecated. Use `l($layer, $modifier)` instead.';
  @return l($layer, $modifier);
}

/*============================================================================*\
   Layers class helpers
\*============================================================================*/

@if $has-classes {
  @each $layer in $layers {
    $name: nth($layer, 1);
    $value: l($name);

    .layer-#{$name} {
      z-index: $value;
    }

    .layer-#{$name}--force {
      z-index: $value !important;
    }
  }

  // Media queries
  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);

    @media all and #{md($breakpoint)} {
      @each $layer in $layers {
        $name: nth($layer, 1);
        $value: l($name);

        .layer-#{$name}--#{$breakpoint} {
          z-index: $value;
        }

        .layer-#{$name}--force-#{$breakpoint} {
          z-index: $value !important;
        }
      }
    }
  }
}
